<ul class="{{ class }}" id="{{ id }}">
  <li ng-repeat="item in items" ng-class="{'selected': item.name == selected}" ng-click="selectItem(item)">
    <a href="{{ item.href }}"><i class="{{ item.icon }}"></i> {{ item.name }}</a>
  </li>
</ul>
