<div class="table-responsive">
  <table class="table">
    <thead ng-if="heading">
      <tr ng-if="datas">
        <th ng-repeat="data in head">{{ data }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(key, value) in datas track by $index">
        <td>{{ value.tweet }}</td><td><twitter-dropdown tweetid="key" selected="currentclass" items="classes" ng-if="classes"></twitter-dropdown></td>
      </tr>
    </tbody>
  </table>
</div>
<!-- /.table-responsive -->
