<div class="input-group custom-search-form twitter-search">
  <input type="text" class="form-control" placeholder="{{ placeholder }}" ng-model="searchcontent">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" data-ng-click="search({query: searchcontent})">
      <i class="fa fa-search"></i>
    </button>
  </span>
</div>
