<div class="panel panel-default">
  <div class="panel-heading" transclude-id="panel-heading">
  </div>
  <!-- /.panel-heading -->
  <div id="panel-body" transclude-id="panel-body">
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->
