<twitter-gui>

  <!-- navbar -->
  <twitter-navbartop transclude-to="twitter-nav"></twitter-navbartop>
  <twitter-navbarleft transclude-to="twitter-nav">
    <twitter-list class="'nav'" id="'side-menu'" items="navbarleftItems" selected="navbarleftCurrent" ></twitter-list>
  </twitter-navbarleft>

  <div transclude-to="twitter-body">
    <ul class="nav nav-pills">
      <li role="presentation" ng-class="{'active': algo.name == 'KNN'}" class="algo" ng-click="selectAlgo('KNN')"><a>KNN</a></li>
      <li role="presentation" ng-class="{'active': algo.name == 'Bayes'}" class="algo" ng-click="selectAlgo('Bayes')"><a>Bayes</a></li>
    </ul>
  </div>

  <div class="row" transclude-to="twitter-body" ng-show="algo.name=='KNN' && !modelKNNOk">
    <div class="col-lg-12">
      <twitter-panel>
        <div transclude-to="panel-heading">Configure KNN
        </div>

        <div transclude-to="panel-body">
          <input type="file" fileread="config.file" class="inputpredict">
          <input type="text" placeholder="Numbers of training datas" class="form form-control configform inputpredict" ng-model="config.N">
          <button class="btn btn-primary buttonpredict" ng-click="configKNN(config)">Create model</button>
        </div>
      </twitter-panel>
    </div>
  </div>

  <div class="row" transclude-to="twitter-body" ng-show="algo.name=='KNN' && modelKNNOk">

    <div class="col-lg-12">
      <twitter-panel>
        <div transclude-to="panel-heading">Predict with KNN
        </div>

        <div transclude-to="panel-body">
          <twitter-search search="go(query)" placeholder="'vlille, antoine_amara, ...'"></twitter-search>
          <input type="text" placeholder="K" ng-if="config.tweets" ng-model="config.k"/>
          <button ng-if="config.tweets" class="btn btn-primary buttonpredict" ng-click="predictBatchKNN(config)">Predict Batch</button>
          <twitter-table ng-if="config.tweets" datas="config.tweets" head="tablehead" classes="classes" currentclass="currentclass"></twitter-table>
        </div>
      </twitter-panel>
    </div>
  </div>

  <div class="row" transclude-to="twitter-body" ng-show="algo.name=='Bayes' && !modelBayesOK">
    <div class="col-lg-12">
      <twitter-panel>
        <div transclude-to="panel-heading">Configure Bayes
        </div>

        <div transclude-to="panel-body">
          <input type="file" fileread="config.file" class="inputpredict">
          <button class="btn btn-primary buttonpredict" ng-click="configBayes(config)">Create model</button>
        </div>
      </twitter-panel>
    </div>
  </div>

  <div class="row" transclude-to="twitter-body" ng-show="algo.name=='Bayes' && modelBayesOK">

    <div class="col-lg-12">
      <twitter-panel>
        <div transclude-to="panel-heading">Predict with Bayes
        </div>

        <div transclude-to="panel-body">
          <twitter-search search="go(query)" placeholder="'vlille, antoine_amara, ...'"></twitter-search>
          <button ng-if="config.tweets" class="btn btn-primary buttonpredict" ng-click="predictBatchBayes(config)">Predict Batch</button>
          <twitter-table ng-if="config.tweets" datas="config.tweets" head="tablehead" classes="classes" currentclass="currentclass"></twitter-table>
        </div>
      </twitter-panel>
    </div>
  </div>

  <div class="row" transclude-to="twitter-body">
    <div class="col-lg-12">
      <twitter-panel>
        <div transclude-to="panel-heading">Results
        </div>

        <div transclude-to="panel-body">
          <twitter-piechart ng-if="datas" datas="datas" class="flot-chart"></twitter-piechart>
        </div>
      </twitter-panel>
    </div>
  </div>
</twitter-gui>
