<twitter-gui>

  <!-- navbar -->
  <twitter-navbartop transclude-to="twitter-nav"></twitter-navbartop>
  <twitter-navbarleft transclude-to="twitter-nav">
    <twitter-list class="'nav'" id="'side-menu'" items="navbarleftItems" selected="navbarleftCurrent" ></twitter-list>
  </twitter-navbarleft>

  <div class="row" transclude-to="twitter-body">
    <div class="col-lg-12">
      <twitter-search search="go(query)" placeholder="'vlille, antoine_amara, ...'"></twitter-search>
    </div>
  </div>

  <div class="row" transclude-to="twitter-body">
    <div class="col-lg-12">
      <twitter-panel>
        <div transclude-to="panel-heading"><i class="fa fa-th-list fa-fw"></i> Search Results
          <div class="pull-right"><button class="btn btn-primary btn-xs" ng-if="tweets" ng-click=save()>Save Tweets</button></div>
        </div>

        <div transclude-to="panel-body">
          <twitter-table datas="tweets" head="tablehead" classes="classes" currentclass="currentclass"></twitter-table>
        </div>
      </twitter-panel>
    </div>
  </div>

  <div class="row" transclude-to="twitter-body">
    <div class="col-lg-12">
      <twitter-alert classe="'info'">
        <strong>Les classes: </strong>
        <ul>
          <li>-1: négatif</li>
          <li>0: neutre</li>
          <li>1: positif</li>
        </ul>
      </div>
    </div>
  </div>
  </twitter-gui>
