<div class="btn-group" uib-dropdown is-open="status.isopen">
  <button id="single-button" type="button" class="btn btn-primary btn-{{sized}}" uib-dropdown-toggle ng-disabled="disabled">
    {{ selected }} <span class="caret"></span>
  </button>
  <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
    <li ng-repeat="item in items" ng-click="select(item)">{{ item }}</li>
  </ul>
</div>
