<div id="wrapper">
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" transclude-id="twitter-nav">
  </nav>
  <div id="page-wrapper" transclude-id="twitter-body">
  </div>
</div>
